<h2>Transclusión</h2>

<app-acordeon titulo="Lorem Ipsum">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, voluptatibus. Eum veniam quibusdam amet, in ipsam facere consectetur. Amet dignissimos minus labore. Molestias ducimus architecto voluptate corporis illo, assumenda porro.</p>
  <p class="footer">Autor: anónimo</p>
</app-acordeon>

<app-acordeon titulo="Lista de ingredientes">
  <ul>
    <li>Ingrediente 1</li>
    <li>Ingrediente 2</li>
    <li>Ingrediente 3</li>
    <li>Ingrediente 4</li>
  </ul>
</app-acordeon>